<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
      <p id="notice"><%= notice %></p>

<center>
	<h2>Components</h2>
</center>

<table>
  <thead>
    <tr>
      <th>Nombre  </th>
      <th>Uso diario </th>
      <th>Tiempo Horas/dias </th>
      <th>Potencia Watts </th>
      <th>KWH/Mes </th>
      <th>Costo/Mes d </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @components.each do |component| %>
      <tr>
        <td><%= component.equipo %></td>
        <td><%= component.cantidad %></td>
        <td><%= component.tiempo %></td>
        <td><%= component.potencia %></td>
         <td><%= (component.potencia*component.tiempo*component.cantidad*30)/1000%></td>
         <td><%= (component.potencia*component.tiempo*component.cantidad*0.5) %></td>
        <td><%= link_to 'Show', component %></td>
        <td><%= link_to 'Edit', edit_component_path(component) %></td>
        <td><%= link_to 'Destroy', component, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  
  
</table>
<%= link_to 'New Component', new_component_path %>
        </div>
         </div>

<div class="jumbotron">
	<div class="container">
		<p id="notice"><%= notice %></p>
		<table class="table table-striped">
			<thead>
				<tr class="success">
					<th>Nombre  </th>
					<th>Uso diario </th>
					<th>Tiempo Horas/dias </th>
					<th>Potencia Watts </th>
					<th>KWH/Mes </th>
					<th>Costo/Mes d </th>
					<th colspan="3"></th>
				</tr>
			</thead>
			
			<tbody>
				<% @components.each do |component| %>
				<tr>
					<td><%= component.equipo %></td>
					<td><%= component.cantidad %></td>
					<td><%= component.tiempo %></td>
					<td><%= component.potencia %></td>
					<td><%= (component.potencia*component.tiempo*component.cantidad*30)/1000%></td>
					<td><%= (component.potencia*component.tiempo*component.cantidad*0.5) %></td>
					<td><a class="btn btn-primary " <%= link_to 'Modificar ', edit_component_path(component) %> </a></td>
					<td><a class="btn btn-primary " <%= link_to ' Eliminar', component, method: :delete, data: { confirm: 'Estas Seguro?' } %> </a></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<a class="btn btn-primary btn-lg" <%= link_to 'Agregar equipo', new_component_path %> </a>
		<span class="glyphicon glyphicon-folder-open" aria-hidden="true"> </span>

    </div>
</div>
<hr>







