<p id="notice"><%= notice %></p>

<p>
  <strong>Equipo:</strong>
  <%= @equipment.equipo %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @equipment.cantidad %>
</p>

<p>
  <strong>Tiempo:</strong>
  <%= @equipment.tiempo %>
</p>

<p>
  <strong>Potencia:</strong>
  <%= @equipment.potencia %>
</p>

<%= link_to 'Edit', edit_equipment_path(@equipment) %> |
<%= link_to 'Back', equipment_index_path %>
